body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-body{
    border: 100px;
    background-color: aquamarine;
    position: absolute;
    padding-right: 5%;
    margin:0 auto;
}
.container{
  margin-left: 32%;
}

.my-5{
  margin-left: 33%;
}
